.page-number-comp {
  width: 60px;
  height: 60px;
  position: absolute;

  bottom: 30px;
  left: 340px;
  z-index: 9999;
}


.page-number-txt {
  font-size: 30px;
  line-height: 32px;
  color: #FFF;
}