$mainColor: #FE1123;
$couponHeight: 120px;

.moment-coupon-comp {
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;

  border-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #F5F6F7;
  // border-color: #999;
  border-style: solid;

  /*postcss-pxtransform rn eject enable*/
  padding-bottom: 0px;
  padding-top: 20px;
  /*postcss-pxtransform rn eject disable*/
}


.moment-coupon-left-wrap {

}

.moment-coupon-title-txt {
  font-size: 30px;
  color: #111;
  line-height: 32px;
  margin-bottom: 6px;
}

.moment-coupon-img {
  width: $couponHeight;
  height: $couponHeight;
  border-radius: 8px;

}

.moment-coupon-right-wrap {
  height: $couponHeight;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: space-around;
}

.moment-copon-price-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.moment-coupon-after-txt {
  font-size: 24px;
  color: $mainColor;
  line-height: 25px;
}

.moment-coupon-after-price-txt {
  font-size: 30px;
  color: $mainColor;
  line-height: 32px;
}

.moment-coupon-tags-wrap {
  display: flex;
  flex-direction: row;

}

.moment-comment-copy-wrap {

}

.moment-comment-copy-txt {
  font-size: 30px;
  line-height: 32px;
  color: #333;
}