$mainColor: #FE1123;

.item-info-comp {
  background-color: #FFF;
  padding-top: 20px;
  padding-bottom: 20px;
}
.item-info-price-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.item-info-price-tag-wrap {
  border-radius: 15px;
  height: 30px;
  display: flex;
  // 不可忽视的小细节，一切需要flex 的地方都要注意 RN 和 和 的 flex-direction 是反着的，所以必须强制声明来统一平台差异
  flex-direction: row;   
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffd4d4;
  /*postcss-pxtransform rn eject enable*/
  line-height: 26px;
  /*postcss-pxtransform rn eject disable*/
}

.item-info-price-tag-txt {
    align-self: center;
    font-size: 24px;
    color: $mainColor;
}

.item-info-price-right-wrap {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.item-info-price-original-txt {
  font-size: 28px;
  color: #999;
  flex: 1;
  text-decoration: line-through;
}

.item-info-price-sold-txt {
  font-size: 26px;
  color: #999;
}

.item-info-return-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #FBEFD8;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
}

.item-info-return-order-wrap {
  margin-left: 20px;
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 15px;
  border-radius: 4px;
}
.item-info-return-order-txt {
  font-size: 26px;
  line-height: 26px;
  color: #FFF;
}

.item-info-return-leader {
  margin-left: 20px;
  font-size: 28px;
  line-height: 30px;
  color: #333;
}

.item-info-return-money {
  flex: 1;
  margin-left: 10px;
  font-size: 28px;
  line-height: 30px;
  color: #DA0000;
}

.item-info-return-upgrade {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 28px;
  font-weight: bold;
  line-height: 30px;
  color: #333;
}

.item-info-item-title-wrap {
  margin: 20px 30px;
  margin-top: 30px;
}
.item-info-item-title-txt {
  font-size: 38px;
  line-height: 40px;
  font-weight: bold;
  color: #333;
}

.item-info-coupon-wrap {
  background-color: #FEE9EB;
  border-radius: 8px;
  margin: 20px 30px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.item-info-coupon-money-txt {
  margin: 20px 20px;
  font-size: 40px;
  line-height: 42px;
  font-weight: bold;
  color: $mainColor;

}

.item-info-coupon-desc-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.item-info-coupon-desc-txt {
  font-size: 28px;
  line-height: 30px;
  font-weight: bold;
  color: $mainColor;
}
.item-info-coupon-date-txt {
  font-size: 24px;
  margin-top: 10px;
  color: $mainColor;
}

.item-info-coupon-bg {
  width: 60px;
  height: 120px;
}
.item-info-coupon-take-txt {
  margin-right: 30px;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  color: $mainColor;
}