/*postcss-pxtransform rn eject enable*/
@import "~taro-ui/dist/style/components/modal.scss";  // 必须在 home 中引入，才能应用到将样式应用到小程序
/*postcss-pxtransform rn eject disable*/

.home {
  background-color: #FFF;
  position: relative;
  // padding-top: 50px;
  // margin-top: 50px;
}

.home-sticky-wrap {
  width: 100%;
  // top: -100px;
  position: absolute;
  z-index: 999;
  background-color: #FFF;
}