.tab-bar-comp {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    // position: relative;
    position: absolute;
    // background-color: #EEE;
    background-color: #FFF;
    justify-content: center;
    width: 100%;
    z-index: 9999;
    /*postcss-pxtransform rn eject enable*/
    position: fixed;
    width: 100%;
    padding-top: 10px;
    /*postcss-pxtransform rn eject disable*/
}

.icon-back-wrap {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 25px;
    // background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
}

.item-back-img {
    width: 40px;
    height: 40px;
}

.tab-bar-item-wrap {
    // background-color: blue;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tab-bar-item-txt {
    line-height: 34px;
    font-size: 34px;
    color: #222;
}