.achievement-comp {
  background-color: #F5F6F7;
  padding-top: 10px;
  // padding-bottom: 10px;
}

.achievement-title-wrap {
  padding: 30px 40px;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.achievement-title-txt {
  flex: 1;
  font-size: 34px;
  color: #333;
}


.achievement-table-wrap {
  margin-top: 20px;
  background-color: #FFF;
  padding: 30px 40px;
}

.acievement-table-title-txt {
  font-size: 38px;
  font-weight: bold;
}
.achievement-table-title-wrap {
  margin-bottom: 30px;
}

.achievement-item-wrap {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.achievement-item-left-wrap {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.achievement-item-right-wrap {
  flex-direction: row;
  display: flex;
  flex: 1;
}

.acheievement-item-left-txt {
  flex: 1;
  color: #666;
  font-size: 30px;
}

.acheievement-item-left-money {
  padding-right: 30px;
  font-size: 28px;
  color: red;
}































