
.red-btn-comp {
  background-color: red;

  margin-right: 30px;
  margin-bottom: 20px;
  border-radius: 40px;
  height: 80px;
  width: 480px;
  display: flex;
  // 不可忽视的小细节，一切需要flex 的地方都要注意 RN 和 和 的 flex-direction 是反着的，所以必须强制声明来统一平台差异
  flex-direction: row;   
  align-items: center;
  padding-left: 30px;
  justify-content: center;
  padding-right: 30px;
  background-color: red;
  // background-color: #999;
  /*postcss-pxtransform rn eject enable*/
  line-height: 26px;
  /*postcss-pxtransform rn eject disable*/

}

.red-btn-title-txt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #FFF;
  font-size: 28px;
  text-align: center;
}