
.header-wrapper {
  position: relative;
  padding: 30px 20px;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-color: #EEE;
  border-bottom-width: 1px;
  /*postcss-pxtransform rn eject enable*/
  border-bottom-style: solid;
  padding: 10px 20px;
  /*postcss-pxtransform rn eject disable*/
}

.header__back-img {
  width: 40px;
  height: 40px;
}

.header__title-txt {
  flex: 1;
  justify-content: center;
  text-align: center;
  font-size: 34px;
  color: #333;

}
