.item-list-b {
  background: #ffffff;
}

.item-list-b__title {
}

.item-list-b__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 15px;
  padding-left: 28px;   // 使居中
}

.item-list-b__item {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  margin-top: 30px;
  // padding-bottom: 140px;  // 给出下方固定的排版高度
  width: 50%;

  &-img {
    width: 330px;
    height: 330px;
    background: #f4f4f4;
    border-radius: 4px;
  }
}

.item-b-content-wrap {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 280px;
}

.item-b__title-txt {
  flex: 1;
  color: #333;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  // background-color: green;
  /*postcss-pxtransform rn eject enable*/
  display: block;
  overflow: hidden;
  /*postcss-pxtransform rn eject disable*/
}

.item-b__price-wrap {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.item-b__symbol-txt {
  color: red;
  font-weight: bold;
  font-size: 26px;
  padding-bottom: 4px;
}
.item-b__price-txt {
  color: red;
  font-weight: bold;
  font-size: 40px;
}

.item-b__original-price-txt {
  flex: 1;
  color: #999;
  font-size: 26px;
}

.item-b__sold-txt {
  color: #999;
  font-size: 26px;
}

.item-b-bottom-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.item-b-bottom-coupon-wrap {
  // 必须有容器才能保证，背景不变形，同时还能把『返利』挤到一边去
  flex: 1;
  /*postcss-pxtransform rn eject enable*/
  line-height: 24px; // 保证 h5 端底部不超出
  /*postcss-pxtransform rn eject disable*/
}

.item-b__coupon-txt {
  position: absolute;
  top: 0px;
  width: 130px;
  // background-color: #555; 
  // 只有文字容器和背景同宽，才会有居中效果
  text-align: center;
  color: #FFF;
  font-size: 24px;
}


.item-b-bottom__bg-coupon {
  width: 130px;
  height: 40px;
}

.item-b__return-txt {
  overflow: hidden;
  padding: 4px 12px 4px 12px;
  /*postcss-pxtransform rn eject enable*/
  padding: 1px 10px 1px 10px;
  /*postcss-pxtransform rn eject disable*/
  font-size: 24px;
  color: red;
  opacity: 0.8;
  background-color: #ffd4d4;
  border-radius: 6px;

}

