
$mainColor: #FE1123;

.text-money-comp {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  top: -10px;
  align-items: flex-end;
}

.text-money-symbol {
  position: relative;
  top: -10px;   // 坑! ￥ 很难对齐数字
  font-weight: bold;
  color: $mainColor;
}

.text-money-txt {
  font-weight: bold;
  color: $mainColor;
}