.large-title-comp {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    align-items: center;
    /*postcss-pxtransform rn eject enable*/
    padding-bottom: 0px;
    /*postcss-pxtransform rn eject disable*/
}

.large-title-txt {
    font-size: 34px;
    font-weight: bold;
    color: #111;
    flex: 1;
}