
.search-bar-comp {
  padding-top: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.search-bar-wrap {
  background-color: #F6F6F6;
  flex: 1;
  border-radius: 5px;
  padding: 0;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}

.search-bar-back-img-wrap {
  padding-left: 30px;
  padding-right: 30px;
}
.search-bar-back-img {
  width: 40px;
  height: 40px;
}
.search-bar-img {
  width: 48px;
  height: 48px;
}
.search-bar-text-wrap {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-left: 20px;
}

.search-bar-input {
  width: 400px;
  // height: 80px;
  font-size: 28px;
  color: #666;
}
.search-bar-title-bold {
  font-size: 28px;
  color: #111;
  font-weight: bold;
}

.search-bar-red-btn {
  margin-left: auto;  // 大招
  padding: 18px 40px;
  color: #FFF;
  font-size: 32px;
  background-color: red;
}
