
.shop-info-comp {
  margin: 20px 0;
  padding: 20px 30px;
  background-color: #FFF;
}

.shop-info-title-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shop-info-bg {
  width: 150px;
  height: 40px;
}

.shop-info-title-txt {
  margin-left: 10px;
  color: #111;
  font-size: 30px;
}

.shop-info-appraise-wrap {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.shop-info-appraise-item-wrap {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shop-info-appraise-item-txt {
  color: #999;
  font-size: 26px;
}

.shop-info-appraise-up-img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.shop-info-recommend-wrap {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}

.shop-info-recommend-title-txt {
  color: #111;
  font-size: 30px;
  line-height: 32px;
  flex-shrink: 0;
}

.shop-info-recommend-desc-txt {
  padding-right: 80px;
  padding-left: 20px;
  color: #999;
  line-height: 34px;
  font-size: 26px;
}