.rech-text-poly-wrap {
  background-color: red;
}

// .rech-text-poly-wrap p img {
//   // max-width: 100%;
//   width: 200px;
// }

.rech-text-poly-wrap img {
  // max-width: 100%;
  width: 200px;
}

.rech-text-poly-wrap p  {
  color: blue;
}

.section-style {
  background-color: blue;
}